html, body, #root {
    height: 100%;
}
    
.App {
    height: 100%;
    background-color: #F0F2F5;
    margin: 0;
}

#theme:checked ~ .App  {
    filter: invert(1);
}

#theme:checked ~ .App  img {
    filter: invert(1);
}

/* Prevent image dragging*/
img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

/* Prevent link dragging */
a{
    user-select: none;
    -webkit-user-drag: none;
}