.carousel_wrapper {
    margin-top: 15px;
    width: 100%;
    height: 50vh;
    user-select: none;
}

.swiper {
    width: 100%;
    height: 100%;
}
  
.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: auto !important;
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: contain;
}

.swiper-slide video {
    display: block;
    height: 100%;
    object-fit: contain;
}
