:root {
    --header-height: 64px;
    --padding-height: 8px;
    --primary-color: teal;
    --comment-background-color: #F0F2F5;
    --app-background-color: #F0F2F5;
    --white-color: #fff;
    --black-color: #000;
    --favourite-active-color: rgb(255, 48, 64);
    --hover-background-color: #F2F3F5;
    --active-background-color: #cdcdd0;
    --sencondary-text-color: #65676B;    
    --box-shadow-gray: 0 0 3px gray;
    --box-shadow-black: 0 0 3px #000;
    --border-post-pagination: 1px solid #d5d6d7;
}

.wrapper {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px gray;
    background: #fff;
}

