.unreaded_message_notification {
    position: absolute;
    top: -2px;
    right: 15px;
    width: 14px;
    height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 50%;
}

.css-19r6kue-MuiContainer-root {
    border-bottom: var(--border-post-pagination);
}
