.follow_info, .fullname   {
    margin-top: 8px;
}

.website_link {
    display: -webkit-box;
    overflow-wrap: anywhere;
    overflow: hidden;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.story {
    max-width: 500px;
    margin-top: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
}

.sub_fullname {
    display: none;
}