.follow_info  {
    margin-top: 8px;
}

.username {
    text-align: center;
}

.fullname_message_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.message_btn {
    margin-top: 4px;
    font-weight: 500;
    font-size: 14px;
}

.message_btn:hover {
    background: var(--white-background-color-v6);
}

.website_link {
    display: -webkit-box;
    overflow-wrap: anywhere;
    overflow: hidden;
    max-width: 500px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    margin-top: 8px;
}

.story {
    max-width: 500px;
    margin-top: 8px;
}

.sub_fullname {
    display: none;
}