.app_container {
    display: flex;
    min-height: calc(100vh - 64px - 8px - 8px);
    padding: 8px 0px;
    gap: 8px;
    overflow: hidden;
}

main {
    width: 800px;
    max-width: 100%;
    min-height: inherit;
    margin: 0 auto;
}

.wrapper {
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 0 2px gray;
    background: #fff;
}

.main_message {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: calc(100vh - 64px - 8px - 8px);
    margin: 0 auto;
    gap: 4px;
}


