.left_message_sidebar {
    flex-basis: 20%;
    background: var(--white-color);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: background-color 0.3s linear;
    box-shadow: var(--box-shadow-gray);
    user-select: none;
}

.left_message_sidebar_contacts {
    padding: 8px;
    font-weight: 500;
    font-size: larger;
    color: var(--sencondary-text-color-v1);
}

.left_message_sidebar_user_list {
    width: 100%;
    height: 100%;
    background: var(--white-color);
}




