.message_wrapper {
    flex-basis: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px - 8px - 8px);
    background: var(--white-color);
    box-shadow: var(--box-shadow-gray);
}

.message_notify {
    flex-basis: 80%;
    height: calc(100vh - 64px - 8px - 8px);
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center; 
    color: var(--sencondary-text-color);
    font-size: small;
    font-weight: 500;
    opacity: 0.8;
    text-transform: uppercase;
    user-select: none;
    background: var(--white-color);
    box-shadow: var(--box-shadow-gray);
}

.message_user_header {
    border-bottom: var(--border-post-pagination);
}

.message_sender {
    display: flex;
    justify-content: flex-end;
}

.message_sender .body_card_message {
    color: var(--white-color);
    background: var(--message-sender-color);
}

.message_receiver {
    display: flex;
    justify-content: flex-start;
}

.message_receiver .body_card_message {
    color: var(--black-color);
    background: var(--message-receiver-color);
}

.message_screen {
    padding: 8px 0px 8px 8px;
    overflow: auto;
    flex: 1;
}

.message_input {
    padding: 0px 8px 8px;
}

.message_modal {
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    box-shadow: 0 0 1px gray;
}

.message_modal .post_form {
    width: 100%;
    margin-top: 0;
}

.message_modal .post_textarea {
    height: 60px;
}

.message_modal .icons_btn_wrapper {
    justify-content: space-between;
}

.message_modal .icons_btn_wrapper .icons_wrapper {
    gap: 1.5rem;
}

.send_message {
    cursor: pointer;
}

.message_modal .images_wrapper {
    max-height: 150px;
}

.body_card_message {
    border-radius: 10px;
    margin: 10px 0;
    font-weight: 500;
    width: 50%;
    padding: 15px;
    border-bottom: var( --border-post-pagination);
    background: var(--comment-background-color);
}

.body_card_message .body_content {
    padding: 0;
}

.body_card_message .carousel_wrapper {
    max-height: 300px;
    width: inherit;
}


.message_user_description :is(.message_user_description_username, .message_user_description_fullname) { 
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; 
    max-width: 140px;
}