/* Card */
.post_item {
    width: 590px;
    max-width: 100%;
    margin-bottom: 50px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0 0 1px gray;
}

/* Header card */
.header_card {
    width: 100%;
    padding: 15px;
}

.more_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
}

.more_wrapper {
    background: #fff;
    min-width: 150px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 5px #444343;
}

.more_item:hover {
    background: var(--white-background-color-v6);
}

.info_sumamry {   
    transition: 0.3s linear;
}


/* Body card */
.body_content {
    font-weight: 500;
    width: 100%;
    padding: 0 15px;
}

/* Footer card */
.footer_card {
    margin: 0px 15px;
}

.interactive_icons_wrapper {
    border-top: var( --border-post-pagination);
    padding: 4px 0;
    border-bottom: var( --border-post-pagination);
    
}

.interactive_icons_wrapper div {
    padding: 4px;
}

.interactive_details {
    padding: 8px 0;
}

.footer_card .active {
    color: var(--favourite-active-color);
}

.comment_wrapper {
    max-height: 300px;
    overflow-y: scroll;
}