.post_details_modal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1200;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}

.post_details_wrapper {
    position: relative;
    width: 700px;
    height: 700px;
    overflow-y: scroll;
    max-width: 100%;
    background: #fff;
 
}

.post_details_body {
    width: 100%;
    padding: 10px;
    height: 100%;
}

.post_details_header {
    position: relative;
    width: 700px;
    background: #fff;
    padding-left: 0px;
    padding-right: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #dcdbdb;
}

.post_details_header h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000
}

.post_details_header .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: 0.1s linear;
}

.post_details_header .closeBtn:hover {
    background: #eaeaea;
}

.post_details_comment {
    padding: 8px;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 700px;
}