.post_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    min-height: calc(100vh - 8px - 8px - 8px - 64px - 80px)
}

