/* Card */
.post_item {
    width: 590px;
    max-width: 100%;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 0 0 3px gray;
}

/* Header card */
.header_card {
    width: 100%;
    padding: 15px;
}

.more_item {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
}

.more_wrapper {
    background: #fff;
    min-width: 150px;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 0 5px #333;
}

.more_item:hover {
    background: #F2F3F5;
}


/* Body card */
.body_content {
    width: 100%;
    padding: 0 15px 15px;
}

/* Footer card */
.footer_card {
    border-top: 1px solid #8D949E;
    padding: 8px 15px;
}
