.app_right_message_sidebar {
    width: 380px;
}

.right_message_sidebar {
    background: var(--white-color);
    position: fixed;
    left: 0;
    top: calc(var(--header-height));
    bottom: 0;
    width: 380px;
    height: 100vh;
    overflow-y: scroll;
    transition: background-color 0.3s linear;
    box-shadow: var(--box-shadow-gray);
    user-select: none;
}

.right_message_sidebar_contacts {
    padding: 8px;
    font-weight: 500;
    font-size: larger;
    color: var(--sencondary-text-color);
}

.right_message_sidebar_user_list {
    background: var(--white-color);
    min-height: 100vh;
}

