/* Search */
.box_search::-webkit-scrollbar {
    width: 8px;
}

.box_search::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50px;
}

/* Story */
.story_textarea::-webkit-scrollbar {
    width: 5px;
}

.story_textarea::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50px;
}

/* Edit  */
.edit_wrapper::-webkit-scrollbar {
    width: 0px;
}

/* User Modal */
.modal_container::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50px;
}

.modal_container::-webkit-scrollbar {
    width: 5px;
}

/* Modal Post */
.post_textarea::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50px;
}

.post_textarea::-webkit-scrollbar {
    width: 5px;
}

.images_wrapper::-webkit-scrollbar {
    width: 0px;
}

.post_modal::-webkit-scrollbar {
    width: 0px;
}

/* Notify */

.notify_wrapper::-webkit-scrollbar {
    width: 8px;
}

.notify_wrapper::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.1);
    border-radius: 50px;
}

/* Emotion */
.emotion_wrapper::-webkit-scrollbar {
    width: 8px;
}

.emotion_wrapper::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 50px;
}

/* message_screen */
.message_screen::-webkit-scrollbar {
    width: 8px;
}

.message_screen::-webkit-scrollbar-thumb{
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 40px;
}

/* Right sidebar */
.sidebar_right::-webkit-scrollbar {
    width: 8px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .sidebar_right:hover {
      background-color: rgba(0,0,0,0.15);  
    }
    
    .sidebar_right::-webkit-scrollbar-thumb {
      background-color: inherit;
      border-radius: 80px;
    }

    .sidebar_right::-webkit-scrollbar-track{
        background-color: var(--white-color) !important;
    }

    .sidebar_right::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

/* Left Message SideBar */

.left_message_sidebar::-webkit-scrollbar {
    width: 8px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .left_message_sidebar:hover {
      background-color: rgba(0,0,0,0.1);  
    }
    
    .left_message_sidebar::-webkit-scrollbar-thumb {
      background-color: inherit;
      border-radius: 25px;
    }

    .left_message_sidebar::-webkit-scrollbar-track{
        background-color: var(--white-color) !important;
    }

    .left_message_sidebar::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

 