.popup_search_container {
    background: var(--white-color);
    min-width: 100vw;
    border-bottom: var(--border-pagination-dark-color);
}

.popup_search_container .search_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.popup_search_container .search_wrapper .search_wrapper input.search_input {
    width: 100%;
}

#tippy-3 {
    transform: translate3d(-16.3px, 51.2px, 0px) !important;
}

.box_search {
    background: var(--white-color);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    width: 340px;
    max-height: 300px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.search_wrapper input {
    border-radius: 25px;
    box-shadow: 0 0 1px gray;
}

.icon_wrapper {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search_input {
    width: 340px;
    height: 100%;
    background-color: #f9f9f9;
}

.search_input::-webkit-input-placeholder { /* Edge */
    font-weight: 400;
    text-align: center;
}
  
.search_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 400;
    text-align: center;
}

  
.search_input::placeholder {
    font-weight: 400;
    text-align: center;
}


