.swiper-button-next:after, 
.swiper-button-prev:after {
    opacity: 0.6;
    font-weight: bolder;
    transition: 0.2s linear;
}

.detail_post_item .swiper-button-next:after, 
.detail_post_item .swiper-button-prev:after {
    font-size: 2.5em;
}

.carousel_wrapper:hover .swiper-button-next:after, 
.carousel_wrapper:hover .swiper-button-prev:after {
    opacity: 1;
}

.swiper-pagination {
    opacity: 0.6;
    transition: 0.2s linear;
}

.detail_post_item .swiper-pagination {
    font-size: 2.5em;
}

.carousel_wrapper:hover .swiper-pagination {
    opacity: 1;
}




