#tippy-1 {
    background: #fff !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px !important;
    min-width: 340px !important;
    max-height: 500px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

