.account_wrapper {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
}

.account_wrapper.home_sidebar {
    background: transparent;
}

.account_wrapper.home_sidebar:hover {
    background-color: var(--white-background-color-v5);
} 

.account_wrapper.home_sidebar {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.account {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.1s linear;
}

.avatar_wrapper {
    position: relative;
}

.user_active_status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13px;
    height: 13px;
    position: absolute;
    right: 0px;
    bottom: -1px;
    border: 3px solid var(--white-color);
    border-radius: 50%;
}

.user_description :is(.user_description_username, .user_description_fullname) {
    overflow: hidden;
    max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.conversation_icon_wrapper {
    display: flex;
    gap: 8px;
}

.conversation_icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.conversation_icon:hover {
    background-color: var(--white-background-color-v4);
}